.card{
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 259px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;

}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 18%);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}

/* External */
/* .button{
  background-color: hsl(200, 100%, 50%);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

} */

.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0;
}

.welcome-message{
  font-size: 2.5em;
  background-color: rgb(36, 223, 11);
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(192, 27, 27);
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items{
  font-size: 2em;
  list-style-type: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color:hsl(0, 0%, 45%);
  cursor: pointer;
}


.counter-container{
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.count-display{
 font-size: 10em;
 margin-top: 0;
 margin-bottom: 50px;
}

.counter-button{
  width: 100px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(197, 100%, 50%);
  color: black;
  bottom: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: hsl(197, 100%, 30%);

}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: black;
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}


.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;

}

h1{
  font-size: 4rem;

}
/* 
button{
  background-color: blue;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 10px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  margin: 5px;

} */

.add-button{
  background-color: hsl(125, 47%, 25%);
}

.delete-button{
  background-color: hsl(0, 49%, 49%);
}

.move-button{
  background-color: hsl(219, 73%, 55%);
}

/* .delete-button{
  background-color: hsl(0, 59%, 32%);
} */


input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%);
  color: hsl(0, 0%, 0%)
}

ol{
  padding: 0px;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0, 85%);
  display: flex;
  align-content: center;
}

.text{
  flex:1; 

  /* the flex 1 is shorcut of
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0% */
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}

 
/* body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.pexels.com/photos/1457812/pexels-photo-1457812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}  */

.clock-container{
backdrop-filter: blur(5px);
width: 50vw;
padding: 10px 0;
}

/* .clock{
color: black;
font-size: 6rem;
font-weight: bold;
font-family: monospace;
text-shadow: 3px 3px 5px hsl(0, 0%, 0.75%);
text-align: center;
} */

.box{
  border: 3px solid;
  padding: 25px;

}






